* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first {
    margin-top: 6rem;
    text-align: justify;
}

.second {
    text-align: justify;
}


a {
    text-decoration: none;
    text-align: center;
}